{% extends 'navigation.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">We are a students of Lovely Proffessional University,This website is made because we want that all student find their study notes at one place.</p>
                        <p class="aboutus-text">This is just starting version of our website ,we continously added more features into this that help students to Achive maximum marks in their exams.</p>
                        <a class="aboutus-more" href="#">read more</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        
                        <img src="/static/images/aboutus.jpg" alt="..">
                       
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Work with heart</h4>
                                    <p>we always do our work with full potential,you never find a mistake in our work.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Best Notes</h4>
                                    <p>we are providing here the best notes of all subject that will definetly help you to obtain maximum marks in your exams</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Great support</h4>
                                    <p>we are always open to hear your feedback ,if you have any problem go to contact section and message any of us.</p>
                                    <p>you also send us email at <i class="fa fa-envelope"></i><b> notesshare@gmail.com</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock body %}