{% extends 'admin_nav.html' %}
{% block title %}MyNotes{% endblock title %}
{% block head %}

{% endblock head %}
{% block body %}

{% ifequal error "no" %}
<script>
alert('Status Updated Successfully');
window.location = ('{% url 'all_notes' %}');
</script>
{% endifequal %}

{% ifequal error "yes"%}
<script>
alert('Something went wrong, Try Again');
</script>
{% endifequal %}
<div class="container mt-5">

    <h2 class="text-center">Assign Status</h2>
   <hr>
  <form method="POST">
  {% csrf_token %}
      <label>Notes Id</label>
      <input type="text" name="notesid" class="form-control" value="{{notes.id}}" readonly>
      <label>Status</label>
      <select name="status" class="form-control">
      <option value="Accept">Accept</option>
      <option value="Reject">Reject</option>
      </select>
      <br>
      <input type="submit" value="Submit" class="btn btn-dark form-control" >
  </form>


</div>
</div>

{% endblock body %}