 {% extends 'navigation.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<section class="team section">
    <div class="container">
        <h1 class="section-title">Our Team Section</h1>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure>
                        <img src="/static/images/vishal1.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>Vishal Prajapati</h3>
                                <p>Developer</p>
                            </div>
                            <div class="social">
                                <a target="_blank" href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="mailto: learnwithvishalp@gmail.com" class="facebook" data-abc="true"><i class="fa fa-envelope"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/vishalprajapati07/" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure>
                        <img src="/static/images/harsh.jpeg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>Harsh Sharma</h3>
                                <p>Developer</p>
                            </div>
                            <div class="social">
                                <a  target="_blank" href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#" class="facebook" data-abc="true"><i class="fa fa-envelope"></i></a>
                                <a  target="_blank" href="https://www.linkedin.com/in/harsh-sharma-916863192/" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure>
                        <img src="/static/images/ashwani.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>Ashwani Pandey</h3>
                                <p>Developer</p>
                            </div>
                            <div class="social">
                                <a target="_blank" href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#" class="facebook" data-abc="true"><i class="fa fa-envelope"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/ashwnipandey007/" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock body %}